
    <form  action="/Products/Index" method="post">
        <div class="bor8 dis-flex p-l-15">
            <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04" type="submit">
                <i class="zmdi zmdi-search"></i>
            </button>

            <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="search" value="@ViewData["CurrentFilter"]" name="search" placeholder="Tìm kiếm...">
        </div>
    </form>

