
@{
    ViewBag.Title = "Đặt hàng thành công";
}

<div class="container" style="height: 100%;">
    <div class="text-center" style="padding-top: 150px;">
        <img class="" src="~/wwwroot/images/icons/empty.png" alt="Anh" />
    </div>
    <div class="text-center" style="padding:40px;">
        <p>Đặt hàng thành công. Click vào Mua ngay để tiếp tục mua hàng!</p>
        <button onclick="location.href = '@Url.Action("Index","Home")'" type="button" class="btn btn-danger">Mua ngay</button>
    </div>
</div>


